:root {
  --orange: rgb(255, 153, 0);
  --yellow: rgb(254, 246, 1);
  --lime: rgb(138, 250, 0);
  --green: rgb(6, 177, 0);
  --red: rgb(255, 6, 6);
  --magenta: rgb(255, 44, 223);
  --blue: rgb(20, 91, 245);
  --purple: rgb(139, 9, 215);
  --cyan: rgb(0, 229, 254);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  /* abstract our colors */
  --dotMain: var(--lime);
  --border: 6px solid var(--magenta);
  --borderRad: 2px;

  /* dimensions */
  --dotRadius: 100px;
}

audio {
  grid-area: smallCircle;
}

h1 {
  color: var(--cyan);
  font-family: "Avenir";
  font-size: 64px;
  text-align: center;
}

p {
  color: var(--black);
  font-family: "Avenir";
  font-size: 18px;
  text-align: center;
}

.one-dot {
  background-color: var(--lime);
  border: none;
  margin: 0 auto;
  display: block;
  padding: 10px;
  transition-duration: 0.2s;
}

.one-dot:hover{
  background-color: var(--green);
  color: var(--white);
}

.one-dot[aria-checked="true"]{
  background-color: var(--green);
}